doctype html 
html
 body
 //-
  .cards
   .card-date
    h1.title-date Найдём номера под ваши пожелания
    .arrival-departure
     h3.text Прибытие
     .input-date
      input(type="text", placeholder="ДД.ММ.ГГГГ").dropdown#datepicker 
      span.material-icons.arrow-down expand_more

    .arrival-departure
     h3.text Выезд
     .input-date
      input(type="text", placeholder="ДД.ММ.ГГГГ").dropdown#datepicker 
      span.material-icons.arrow-down expand_more
     
    .arrival-departure
     h3.text Гости
     .input-ghost
      input.dropdown.ghost#datepicker(type="text", placeholder="Сколько гостей")
      span.material-icons.arrow-down expand_more
     
    .arrival-departure
     a.btn(href="#") 
      p Подобрать номер
-//

.container

 .form-elements
  .input-general
   .input-text
    h3.text text field
    h3.text default
   .form-input
    input(type="email", 
    placeholder="Email").default-input

  .input-general
   .input-text
    h3.text text field
    h3.text hover / focus
   .form-input
    input(type="text", 
    placeholder="This is pretty awesome").hover-input

  .input-general
   .input-text
    h3.text dropdown
   .form-input
    button.dropdown 
     span Сколько гостей 
     span.material-icons.arrow expand_more

  .input-general
   .input-text
    h3.text masked text field
   .form-input
    input(type="text", 
    placeholder="ДД.ММ.ГГГГ").default-input


  .input-date
   .input-text 
    h3.text date dropdown
   .form-input
     button.dropdown
      span ДД.ММ.ГГГГ
      span.material-icons.arrow expand_more

  .input-date
   .input-text 
    h3.text date dropdown
   .form-input
     button.dropdown
      span 19.08.2019
      span.material-icons.arrow expand_more


  .input-medium
   .input-text 
    h3.text filter date dropdown
   .form-input
     button.dropdown
      span 19 авг - 23 авг
      span.material-icons.arrow expand_more

  .input-medium
   .input-text 
    h3.text subscription text field
   .form-input.subscription-form
    input(type="text", 
    placeholder="Email").default-input.subscription
    span.material-icons.arrow arrow_forward

  .input-medium
   .input-text 
    h3.text dropdown
    h3.text default
   .form-input
     button.dropdown
      span 2 спальни, 2 кровати...
      span.material-icons.arrow expand_more

  .input-medium
   .input-text 
    h3.text dropdown
    h3.text expanded
   .form-input.expanded-dropdown
     button.dropdown
      span 2 спальни, 2 кровати...
      span.material-icons.arrow expand_more
   .form-input.expanded-form
    .numbers-items
     h3.text-items спальни
      span 2
     h3.text-items кровати
      span 2
     h3.text-items ванные комнаты
      span 0

  .input-medium
   .form-checkboxlist
     button.dropdown.checkboxlist
      h3.text expandable checkbox list
      span.material-icons.arrow expand_more

  .input-medium
   .form-checkboxlist
     button.dropdown.checkboxlist
      h3.text expandable checkbox list
      span.material-icons.arrow expand_less
   .checkbox-radio-buttons.default-buttons
    input(type="checkbox", 
    class="checkbox-services",
    name="services",
    id="breakfast")
    label(for="breakfast") Завтрак
   .checkbox-radio-buttons.default-buttons
    input(type="checkbox", 
    class="checkbox-services",
    name="services",
    id="table")
    label(for="table") Письменный стол
   .checkbox-radio-buttons.default-buttons
    input(type="checkbox", 
    class="checkbox-services",
    name="services",
    id="feeding-chair")
    label(for="feeding-chair") Стул для кормления
   .checkbox-radio-buttons.default-buttons
    input(type="checkbox", 
    class="checkbox-services",
    name="services",
    id="crib")
    label(for="crib") Кроватка
   .checkbox-radio-buttons.default-buttons
    input(type="checkbox", 
    class="checkbox-services",
    name="services",
    id="tv")
    label(for="tv") Телевизор
   .checkbox-radio-buttons.default-buttons
    input(type="checkbox", 
    class="checkbox-services",
    name="services",
    id="shampoo")
    label(for="shampoo") Шампунь

  .icon-text-list 
   .icon-list
    span.material-icons.icon insert_emoticon
   .icon-text 
    h3.icon-text-title Комфорт 
    h3.icon-text-info Шумопоглощающие стены 

  .icon-text-list 
   .icon-list
    span.material-icons.icon location_city
   .icon-text 
    h3.icon-text-title Удобство 
    h3.icon-text-info Окно в каждой из спален


  .input-general
   .input-text
    h3.text checkbox buttons
   .checkbox-radio-buttons
    input(type="checkbox", 
    name="services",
    id="smoke")
    label(for="smoke") Можно курить
   .checkbox-radio-buttons.default-buttons
    input(type="checkbox",
    name="services",
    id="pets")
    label(for="pets") Можно с питомцами
   .checkbox-radio-buttons.default-buttons
    input(type="checkbox", 
    name="services",
    id="ghosts")
    label(for="ghosts") Можно пригласить гостей (до 10 человек)


  .input-medium
   .input-text
    h3.text Radio Buttons
   .radio
    .checkbox-radio-buttons.default-buttons
     input(type="radio", 
     name="services",
     id="man")
     label(for="man") Мужчина
    .checkbox-radio-buttons
     input(type="radio",
     name="services",
     id="woman")
     label(for="woman") Женщина

  .input-medium
   .input-text
    h3.text Toggle
   input(type="checkbox",
   id="toggle",
   class="toggle")
   label(for="toggle") Получать спецпредложения
     

  .input-medium
   .input-text
    h3.text rate button
   .buttons-rate
    .button-rate.default-rate 
     span.material-icons.star star
     span.material-icons.star star
     span.material-icons.star star
     span.material-icons.star star
     span.material-icons.star star_border

    .button-rate.checked-rate
     span.material-icons.star star
     span.material-icons.star star
     span.material-icons.star star
     span.material-icons.star star
     span.material-icons.star star

   .input-text
    h3.text like button
   .buttons-like
    .button-like.default-like 
     span.material-icons.like-border favorite_border
     span.like-border 2
    .button-like.checked-like
     span.material-icons.like favorite
     span.like 12

  .input-general
   .input-text 
    h3.text dropdown
   .form-input.expanded-dropdown
     button.dropdown
      span Сколько гостей
      span.material-icons.arrow expand_more
   .form-input.expanded-form
    .numbers-items
     h3.text-items взрослые
      span 0
     h3.text-items дети
      span 0
     h3.text-items младенцы
      span 0
     .btn-apply
      button.apply Применить


  .input-general
   .input-text 
    h3.text rich Checkbox Buttons
   .checkbox-radio-buttons.rich-buttons
    input(type="checkbox", 
    name="services",
    id="corridor")
    label(for="corridor") Широкий коридор 
     span Ширина коридоров в номере не менее 91 см.
   .checkbox-radio-buttons.rich-buttons
    input(type="checkbox",
    name="services",
    id="invalid")
    label(for="invalid") Помощник для инвалидов
     span На 1 этаже вас встретит специалист  и проводит до номера.

  .comment 
   .person-info
    img(src="img/image.png",
    alt="avatar").avatar   
    .person
     p Мурад Сарафанов
     span 5 дней назад
   .comment-block
    .button-like.checked-like
     span.material-icons.like favorite
     span.like 12
    .comment-content Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.


  .input-medium
   .input-text 
    h3.text Range Slider
    h3.text 5 000₽ - 10 000₽


  .input-medium
   .input-text 
    h3.text buttons
   .buttons
    button.button-default click me
    button.button-default.button-hover click me
    button.button-default.button-default_border click me
    button.button-default.button-default_border.button-hover click me
    button.button-default.icon-link click me
    button.button-default.icon-link.icon-link_hover click me

  .input-general
   button.button-default.button-pay 
    p перейти к оплате
    span.material-icons.icon-pay arrow_forward

  .input-medium
   .input-text
    h3.text pagination 
   .pagination
    a(href="#").pag-item.active-pag 1
    a(href="#").pag-item 2
    a(href="#").pag-item 3
    a(href="#").pag-item ...
    a(href="#").pag-item 15
    a(href="#").pag-item 
     span.material-icons.pag-icon arrow_forward
    p.text-pag 1 – 12 из 100+ вариантов аренды
